
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by ❤️ Umidjon Yoqubov</p>
  </div>
</div>

<script src="/js/jquery-slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
